<%- include("./partials/header.ejs") -%>
    <div class="container my-5 about">
        <div class="p-5 text-center  rounded-3 ">
            <h1 class="text-body-emphasis p-3">Empower Your Financial Journey with FinTrack</h1>
            <p class="col-lg-8 mx-auto fs-5 text-muted" style="text-align: justify; color: white;">
                Welcome to FinTrack, your ultimate companion in personal finance tracking. At FinTrack, we understand
                that managing your finances can be overwhelming and time-consuming. That's why we've developed a
                powerful and user-friendly platform that empowers you to take control of your financial journey with
                ease and confidence. With FinTrack, you can effortlessly track your income, expenses, savings, and
                budgets, gaining valuable insights into your financial habits and making informed decisions. Our mission
                is to simplify financial management and provide you with the tools and knowledge to achieve your
                financial goals. Whether you're budgeting for your dream vacation, saving for a down payment on a house,
                or planning for retirement, FinTrack is here to support you every step of the way. Join us today and
                experience the freedom and peace of mind that comes with having your finances in order.
            </p>
            <div class="d-inline-flex gap-2 mb-5">
                <button class="d-inline-flex align-items-center btn btn-warning btn-lg px-4 rounded-pill" type="button">
                    SignUp
                </button>
                <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
                    LogIn
                </button>
            </div>
        </div>
    </div>


    <%- include("./partials/footer.ejs") -%>